/*Detail Room Styles*/

.title-rooms {
    text-align: center;
    margin-bottom: 3rem;
}

.d-icons {
    text-align: center;
}

.icons-room {
    width: auto;
    height: 3.2rem;
    margin: 1rem 2rem;
}

.hr-icons-room {
    width: 58rem;
}

span.title-pazzo {
    font-family: 'Reenie Beanie', cursive;
    font-size: 4rem;
    color: rgba(0, 0, 0, .87);
    margin: 1rem;
}

img.check-list {
    height: 1.2rem;
    margin: 2rem 1.2rem 0 -2.6rem;
}

img.service {
    display: block;
    height: 6rem;
    margin: -0.5rem 8rem 2.6rem 20rem;
}

img.service-info {
    display: block;
    height: 6rem;
    margin: 4rem 8rem 2.6rem 20rem;
}

img.service-card {
    display: block;
    width: 6rem;
    height: 6rem;
    margin: 5.4rem 8rem 2.6rem 20rem;
}

.history-service {
    margin: -8.4rem 8rem 2.6rem 28rem;
}

.history-service-info {
    margin: -8.2rem 8rem 2.6rem 28rem;
}

.history-service-card {
    margin: -7.8rem 8rem 2.6rem 28rem;
}