/*Rooms Styles */

.detail-room {
    text-align: center;
}

.detail-room-price {
    font-size: 3rem;
    text-decoration: none;
}

.call-to-action-3 {
    font-family: 'Montserrat', sans-serif;
    display: block;
    text-align: center;
    width: 100%;
    border: thin solid #09106A;
    background-color: #09106a;
    padding: 12px 24px;
    color: #fff;
    margin: 2rem auto;
}
