.slider {

    display: none;

    @media screen and (min-width:$mobile) {

    display: block;
    position: relative;
    width: 100%;
    transition: all .3s ease;
    header {
        position: absolute;
        padding: 0 10%;
        top: 236px;
        color: #fff;
        h1, p {
            text-align: center;
        }
        p {
            font-size: 24px;
            color: white;
        }
    }
    figure {
        height: 500px;
        overflow: hidden;
        display: flex;
        align-items: center;
    }
    img {
        max-width: 100%;
    }
    ol {
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        z-index: 2;
        list-style: circle;
        li {
            cursor: pointer;
            transition: all .3s ease;
            color: #fff;
            font-size: 45px;
            padding: 0 .5rem;
            &:hover,
            &:focus,
            &.active {
                color: #09106a;
            }
            &:before {
                content: "\2022";
        
            }
        }
    }
}
}


