<<<<<<< HEAD
$gray: #808080;
$gray-border: #95989A;
$blue:#000540;
$red:#B5182D;
$black-text: #313232;

$columns: 12;
$desktop: 1280px;
$tablet-landscape:1024px;
$tablet: 768px;
$mobile-landscape: 736px;
$mobile: 600px;
=======
$gray: #898989;
$gray-border: #95989A;
$purple: #09106a;
>>>>>>> 70a71b71410d5c3672da9319971c1337acd14dd0
